![title](Chapter-1.png "Header")
___
# Chapter 1 - Simple Approaches to Recommender Systems
## Segment 2 - Popularity-Based Recommenders

In [8]:
import pandas as pd
import numpy as np

These datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

They were originally published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [9]:
frame = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')

In [12]:
frame.head().T
#frame.rating.value_counts()

                     0       1       2       3       4
userID           U1077   U1077   U1077   U1077   U1068
placeID         135085  135038  132825  135060  135104
rating               2       2       2       1       1
food_rating          2       2       2       2       1
service_rating       2       1       2       2       2

In [22]:
cuisine.head()
#cuisine.Rcuisine.value_counts(1)

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

In [23]:
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

rating_count.sort_values('rating', ascending=False).head(10)

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25
135038       24
135060       22
135062       21
135042       20
132862       18

In [27]:
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834, 135038, 135060, 135062, 135042, 132862], index=np.arange(10), columns=['placeID'])

summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican
7   135060          Seafood
8   135042          Chinese
9   132862    International

In [28]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

In [29]:
cuisine.Rcuisine.value_counts(1)

Mexican                 0.260917
International           0.067686
American                0.064410
Dutch-Belgian           0.060044
Italian                 0.045852
Greek                   0.036026
Bar                     0.034934
French                  0.033843
Cafe-Coffee_Shop        0.029476
Pizzeria                0.027293
Bar_Pub_Brewery         0.026201
Cafeteria               0.025109
Chinese                 0.022926
Fast_Food               0.021834
Seafood                 0.019651
Japanese                0.018559
German                  0.015284
Family                  0.015284
Mediterranean           0.014192
Burgers                 0.014192
Vegetarian              0.010917
Contemporary            0.009825
Deli-Sandwiches         0.009825
Steaks                  0.008734
Hot_Dogs                0.007642
Asian                   0.007642
Latin_American          0.007642
Bakery                  0.006550
Juice                   0.006550
Sushi                   0.006550
Armenian                0.005459
Polish                  0.005459
Continental-European    0.004367
Spanish                 0.003275
Regional                0.003275
Breakfast-Brunch        0.003275
Southwestern            0.003275
Barbecue                0.003275
Diner                   0.003275
Dessert-Ice_Cream       0.003275
African                 0.003275
Vietnamese              0.002183
Eastern_European        0.002183
Game                    0.002183
Ethiopian               0.001092
California              0.001092
Bagels                  0.001092
Soup                    0.001092
Thai                    0.001092
Fine_Dining             0.001092
Caribbean               0.001092
Afghan                  0.001092
Organic-Healthy         0.001092
Mongolian               0.001092
Korean                  0.001092
Brazilian               0.001092
Turkish                 0.001092
Southern                0.001092
Persian                 0.001092
Name: Rcuisine, dtype: float64